<div class="container d-flex justify-content-center flex-direction-column py-5">
  <div class="row d-flex justify-content-center">
    <h2 class="d-flex justify-content-center mt-5">Featured Products</h2>
    <div class="col d-flex justify-content-center" *ngFor="let product of products">
      <div class="card m-2 card-shadow" style="width: 25rem; overflow:hidden;">
        <img
          src={{product.image}}
          class="card-img-top product-image"
          alt={{product.name}}
        />
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">
            {{product.description}}
          </p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
