
<div class="container mt-5 d-flex justify-content-center">
  <div class="row d-flex justify-content-center">
    <h1>Featured Products</h1>
    <div class="col-lg-4 mb-5" *ngFor="let product of products">
      <mat-card>
        <img
          mat-card-image
          style="height: 300px; object-fit: cover"
          src="{{ product.image }}"
          alt="{{ product.name }}"
        />
        <mat-card-title> {{ product.name }}</mat-card-title>
        <mat-card-content>
          <p>
            {{ product.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
