<div class="container d-flex justify-content-center flex-direction-column py-5">
  <div class="row d-flex justify-content-center">
    <h2 class="d-flex justify-content-center mt-5">Featured Products</h2>
    <div class="col d-flex justify-content-center">
      <div class="card m-2 card-shadow" style="width: 25rem; overflow:hidden;">
        <img
          src="assets/stuffed-cookie.jpg"
          class="card-img-top product-image"
          alt=""
        />
        <div class="card-body">
          <h5 class="card-title">Stuffed Cookie</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card m-2 card-shadow" style="width: 25rem; overflow:hidden;">
        <img
          src="assets/macroons.jpg"
          class="card-img-top product-image"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Macroons</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card m-2 card-shadow" style="width: 25rem; overflow:hidden;">
        <img
          src="assets/single-chocolate-chip.jpg"
          class="card-img-top product-image"
          alt="chocolate-cookie"
        />
        <div class="card-body">
          <h5 class="card-title">Chocolate Chip Cookie</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
