.product-image {
  height: 18rem;
  object-fit: cover;
}
.product-image:hover {
    transform:scale(1.05);
    transition:.5s;
    cursor:pointer;
}
.card-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.featured-image {
  object-fit:cover;
}
