<app-header></app-header>
<div class="container py-5">
  <div class="row">
    <div class="col" *ngFor="let product of products">
      <div class="card mb-5 card-shadow" style="width: 25rem; overflow:hidden;">
        <img src="{{product.image}}" class="card-img-top product-cookie-image" alt="{{product.name}}"/>
        <div class="card-body">
          <p class="card-text">
            {{'$' + product.price }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
